DB_URL=jdbc:mysql://mysql:3306/ject_checkin?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
DB_USERNAME=ject_app
DB_PASSWORD=replace-me
DB_POOL_MAX_SIZE=5
DB_POOL_MIN_IDLE=1
JPA_DDL_AUTO=create
MYSQL_DATABASE=ject_checkin
MYSQL_USER=ject_app
MYSQL_PASSWORD=replace-me
MYSQL_ROOT_PASSWORD=replace-me
